[submodule "Libraries/Box2D"]
	path = Libraries/Box2D
	url = https://github.com/erincatto/Box2D.git
[submodule "Libraries/Cotire"]
	path = Libraries/Cotire
	url = https://github.com/sakra/cotire.git
[submodule "Libraries/OpenSimplexInC"]
	path = Libraries/OpenSimplexInC
	url = https://github.com/smcameron/open-simplex-noise-in-c.git
[submodule "Libraries/cJSON"]
	path = Libraries/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "Libraries/LodePNG"]
	path = Libraries/LodePNG
	url = https://github.com/lvandeve/lodepng
